*{
    padding: 0;
    margin: 0;
}
body {
    background:linear-gradient(90deg, rgb(253, 80, 80) 0%, 
    rgb(181, 102, 233) 100%);
}

.content-title {
    font-weight: 600;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f32170,#ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.addTask {
    background:linear-gradient(50deg, rgb(253, 80, 80) 0%, 
    rgb(181, 102, 233) 100%);
}

.confirm {
    display: none;
}
.linethrough {
    text-decoration: line-through;
}

textarea {
    resize: none;
    height: 25px;
    overflow-y: hidden;
    background: transparent;
    border: hidden;
}
.items {
    justify-content: space-evenly;
}

